@schedule-name-height: 55px;
@student-schedule-width: 190px;
@student-schedule-margin: 7px;
@schedule-width: (4 * (@student-schedule-width + (2 * @student-schedule-margin)) + 16px); // scrollbar width

.schedule {
    position: relative;
    .box-sizing(border-box);
    margin-top: -@schedule-name-height - 10px;
    padding-top: @schedule-name-height + 10px;
    height: 100%;
    max-width: @schedule-width;
    margin: 0 auto;

    &.active-student {
        .student-schedule:not(.active), .student-schedule-header:not(.active) {
            display: none;
        }

        .student-schedule.active, .student-schedule-header.active {
            width: 100%;

            i.fa.fa-times { display: inline; }
        }
    }
}

.header-container {
    margin-top: -@schedule-name-height;
    height: @schedule-name-height;
    max-width: @schedule-width;
}

.event-container {

    height: 100%;
    max-width: @schedule-width;
    overflow-y: auto;
}

.student-schedule, .student-schedule-header {
    float: left;
    .box-sizing(border-box);
    margin: 0px @student-schedule-margin 0px @student-schedule-margin;
    padding-right: 8px;
    width: @student-schedule-width;
    border: solid 1px #BBB;
    position: relative;
    .box-shadow(0px 0px 5px 0px #333);
    /*&.non-student {
        width: 225px;
    }*/
}

.student-schedule-header {
    height: @schedule-name-height;
    h3.name {
        font-size: 2.5rem;
        height: @schedule-name-height;
        width: 100%;
        text-align: center;
        line-height: 2rem;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 0px;
        &:hover {
            color: @brand-primary;
        }

        i.fa { display: none; }
    }

    &.non-student {
        h3.name {
            text-align: left;
            i[class*='fa-angle-'] { display: inline; }
        }
    }
}

.student-schedule {
    height: 125%;

    &.active {
        background-color: @brand-secondary;

        h3.name { color: @brand-primary; }
    }

    .event {
        border: solid 1px #999;
        margin: 3px 2px;
        padding: 2px;
        background-color: #fcfcfc;
        position: absolute;
        left: 0px;
        right: 0px;

        &:first-of-type {
            border-top: solid 2px #666;
        }

        .fa-cog { float: right; cursor: pointer; }
    }

    &.non-student {
        br, b { display: none; }
        border: solid 0px #BBB;

        .fa-cog { display: none; }
    }
}

@media screen and (max-width: @schedule-width) {
    .header-container, .event-container, .schedule {
        width: 100%;
    }

    .student-schedule, .student-schedule-header {
        float: none;
        width: 100%;
        height: auto;
        .event {
            display: none;
        }

        &.active .event{
            display: block;
        }

        &.non-student {
            display: none;
        }
    }
}

//=======  event top offsets ==========
@blocks: 48;
@pixelsPerBlock: 30;

.generate-time-classes(12);

.generate-time-classes(@n, @i: 0) when (@i =< @n) {
  .tblock-@{i} { top: (@i * @pixelsPerBlock * 1px); }
  .generate-time-classes(@n, (@i + 1));
}
