<div class="schedule" ng-class="{ 'active-student': activeStudent }" ng-init="getData()">
    <md-button id="add-event" class="md-fab" aria-label="FAB">
        <ng-md-icon icon="send" style="fill: pink" size="20"></ng-md-icon>
    </md-button>
    <div class="header-container">
        <div class="student-schedule-header"
             ng-repeat="list in studentEventLists"
             ng-class="{ 'non-student': list.isTimeAxis, active: list.active }">
            <div class="list-summary" ng-bind="list.summary"></div>
            <h3 class="name" ng-click="setActiveList(list)">
                <i class="fa fa-angle-left" ng-click="changeDay(-1);$event.stopPropagation()"></i>
                <span ng-bind="list.student.name"></span>
                <i class="fa fa-angle-right" ng-click="changeDay(1);$event.stopPropagation()"></i>
                <i class="fa fa-times" ng-click="setActiveList(null);$event.stopPropagation()"></i>
            </h3>
        </div>
    </div>
    <div class="event-container" ng-class="{ animating: changingDay }">
        <div class="student-schedule"
             ng-style="{ height: scheduleTotalBlocks }"
             ng-repeat="list in studentEventLists | hasEvents"
             ng-class="{ 'non-student': list.isTimeAxis, active: list.active, 'schedule-forward': animateForward, 'schedule-back': !animateForward }">
            <div class="inner-container">
                <div class="event"
                     ng-repeat="evt in list.events"
                     ng-style="{ 'background-color': evt.subject.bgcolor, height: evt.duration, top: evt.blockOffset }">
                    <div layout="row" layout-align="space-between center">
                        <md-checkbox ng-model="isChecked" aria-label="Completed">
                            <span>{{evt.fmtTime}}</span>&nbsp;<span ng-bind="evt.subject.summary"></span>
                        </md-checkbox>
                        <ng-md-icon icon="settings" size="12" ng-cloak ng-click="openEvent(evt)"></ng-md-icon>
                    </div>

                    <!--<input id="{{evt.resource.id}}" ng-checked="evt.completion && !evt.updating" type="checkbox" class="md" ng-class="{ 'updating': evt.updating }"/>
                    <label for="{{evt.resource.id}}" ng-click="toggleComplete(evt)"><span>{{evt.fmtTime}}</span>&nbsp;<span ng-bind="evt.subject.summary"></span></label>
                    <br/>-->
                    <span ng-bind="evt.resource.summary"></span>
                </div>
            </div>
        </div>
    </div>
</div>
