<div class="schedule" ng-class="{ 'active-student': activeStudent }" ng-init="getData()">
    <div class="header-container">
        <div class="student-schedule-header"
             ng-repeat="list in studentEventLists"
             ng-class="{ 'non-student': list.isTimeAxis, active: list.active }">
            <div class="list-summary" ng-bind="list.summary"></div>
            <h3 class="name" ng-click="setActiveList(list)">
                <i class="fa fa-angle-left" ng-click="changeDay(-1);$event.stopPropagation()"></i>
                <span ng-bind="list.student.name"></span>
                <i class="fa fa-angle-right" ng-click="changeDay(1);$event.stopPropagation()"></i>
                <i class="fa fa-times" ng-click="setActiveList(null);$event.stopPropagation()"></i>
            </h3>
        </div>
    </div>
    <div class="event-container" ng-class="{ animating: changingDay }">
        <div class="student-schedule"
             ng-style="{ height: scheduleTotalBlocks }"
             ng-repeat="list in studentEventLists | hasEvents"
             ng-class="{ 'non-student': list.isTimeAxis, active: list.active, 'schedule-forward': animateForward, 'schedule-back': !animateForward }">
            <div class="inner-container">
                <div class="event"
                     ng-repeat="evt in list.events"
                     ng-style="{ 'background-color': evt.view.subject.bgcolor, height: evt.view.duration, top: evt.view.blockOffset }">
                    <i class="fa fa-cog" ng-cloak ng-click="openEvent(evt)"></i>
                    <i class="fa fa-check" ng-click="toggleComplete(evt)" ng-class="{
                        'fa-check': evt.completion && !evt.view.updating,
                        'fa-square-o': !evt.completion && !evt.view.updating,
                        'fa-spin fa-circle-o-notch': evt.view.updating}"></i>
                    <span>{{evt.fmtTime}}</span>&nbsp;<span ng-bind="evt.view.subject.summary"></span><br/>
                    <span ng-bind="evt.summary"></span>
                </div>
            </div>
        </div>
    </div>
</div>
