<div class="schedule" flex layout="column" ng-class="{ 'active-student': activeStudent, 'taskmode': schedule.taskMode }" ng-init="getData()">
    <md-button id="add-event" class="md-fab" aria-label="FAB">
        <md-icon>add</md-icon>
    </md-button>
    <div class="header-container" layout="row" layout-sm="column">
        <div class="student-schedule-header"
             flex-md="{{list.isTimeAxis ? 10 : (list.active ? '' : 30)}}"
             flex-gt-md="{{list.isTimeAxis ? 10 : (list.active ? '' : 30)}}"
             ng-repeat="list in studentEventLists"
             ng-class="{ 'non-student': list.isTimeAxis, active: list.active, 'task-mode': schedule.taskMode }">
            <div class="list-summary" ng-bind="list.summary"></div>
            <div layout="row" layout-align="space-between center">
                <h3 ng-class="{ 'md-display-1' : !list.isTimeAxis, 'md-headline': list.isTimeAxis }"
                    ng-bind="list.student.name" ng-click="setActiveList(list)" flex="{{list.isTimeAxis ? 40 : 1 }}"></h3>
                <ng-md-icon ng-if="!list.isTimeAxis && !list.isStudentList" ng-hide="list.isTimeAxis" icon="clear" ng-click="setActiveList(null);$event.stopPropagation()"></ng-md-icon>
            </div>
        </div>
    </div>
    <div class="event-container" ng-class="{ animating: changingDay }" flex layout="row">
        <div class="student-schedule"
             flex="{{list.isTimeAxis ? 10 : (list.active ? '' : 30)}}"
             ng-style="{ height: schedule.taskMode && list.isTimeAxis ? '10px' : (schedule.taskMode ? 'auto' : scheduleTotalBlocks),
                            display: schedule.taskMode && list.isTimeAxis ? 'none' : 'auto' }"
             ng-repeat="list in studentEventLists | hasEvents"
             ng-class="{ 'non-student': list.isTimeAxis, 'task-mode': schedule.taskMode, active: list.active, 'schedule-forward': animateForward, 'schedule-back': !animateForward }">
            <div class="inner-container">
                <md-card class="event"
                     layout="column"
                     ng-repeat="evt in list.events"
                     ng-style="{ height: schedule.taskMode ? 'auto' : vt.duration, top: schedule.taskMode ? 'auto' : evt.blockOffset }">
                    <div class="evt-header"
                        layout="row"
                        layout-align="space-between center"
                         ng-style="{ 'background-color': evt.subject.bgcolor }"
                        ng-click="openEvent(evt)">
                        <md-button class="md-mini md-icon-button status-button"
                                   aria-label="FAB"
                                   ng-click="toggleComplete(evt); $event.stopPropagation();"
                                   ng-class="{complete: evt.completion }">
                            <ng-md-icon class="status-icon" icon="{{evt.updating ? 'autorenew' : (evt.completion ? 'check_circle': 'done')}}"
                                        ng-class="{ 'updating': evt.updating }"
                                        style="fill: white" size="36"></ng-md-icon>
                        </md-button>
                        <h3 class="md-subhead"><span class="time">{{evt.fmtTime}}</span>&nbsp;<span ng-bind="evt.resource.summary || evt.subject.summary"></span></h3>
                        <md-icon ng-show="evt.resource.attachments">attach_file</md-icon>
                    </div>
                    <md-card-content ng-if="evt.resource.description" layout-padding>
                        <p class="summary" ng-bind="evt.resource.description"></p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
