<button ng-click="getData()">Get Data</button>
<div ng-repeat="item in data.items">{{item.summary}}</div>

<div class="schedule" ng-class="{ 'active-student': activeStudent }">
    <div class="student-schedule" ng-repeat="student in students" ng-class="{ 'non-student': student.nonStudent, active: student.active }">

        <h3 class="name" ng-click="setActiveStudent(student)">
            <span ng-bind="student.name"></span>
            <i class="fa fa-times" ng-click="setActiveStudent(null);$event.stopPropagation()"></i>
        </h3>

        <div class="event" ng-repeat="evt in student.events">
            <b>{{evt.subject}}</b><br/>
            <span ng-bind="evt.assignment"></span>
        </div>
    </div>
</div>
