@header-height: 44px;

html {
  font-size: 13px;
}

@media screen and (min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 570px){
  html{
    font-size: 15px;
  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}
@media screen and (min-width: 720px){
  html{
    font-size: 18px;
  }
}
@media screen and (min-width: 800px){
  html{
    font-size: 19px;
  }
}
@media screen and (min-width: 860px){
  html{
    font-size: 20px;
  }
}
@media screen and (min-width: 920px){
  html{
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px){
  html{
    font-size: 22px;
  }
}

html, body, div[ng-view], .main-content {
    height: 100%;
}

body { background-color: lighten(#000, 90.7%); }

.main-content, [md-sidenav] { //div[ng-view] {
    box-sizing: border-box;
    //margin-top: -@header-height;
    //padding-top: @header-height;
}

header {
    width: 100%;
    border-bottom: solid 1px @gray-dark;
    height: @header-height;
    line-height: @header-height;
    box-shadow: 0px 0px 5px 2px @gray;

    [icon='menu'] {
      line-height: normal;
      margin-left: 10px;
    }

    .header-right {
        padding: 0 10px;
        [icon='clear'] { line-height: normal; padding-left: 3px; }
        .profile-img { border-radius: (@header-height - 4) / 2; padding-right: 3px; }
    }

    a {
        color: @body-bg;
    }
}

#app-name {
    font-size: 1.4rem;
    padding: 0 10px;
}
