<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <title>My Awesome App</title>
    <link rel="stylesheet" href="css/styles.css" />
    <meta name="google-signin-clientid" content="<!-- @secret client_id -->" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-callback" content="onAuthResult" />
    <meta name="google-signin-scope" content="profile https://www.googleapis.com/auth/calendar" />
</head>

<body ng-controller='WelcomeCtrl'>
    <h1>My Awesome App</h1>
    <p>{{testVar}}</p>
    <div id="google-login" data-width="200" data-height="30"></div>
    <br/>
    <button ng-click="getData()">Get Data</button>
    <div ng-repeat="item in data.items">{{item.summary}}</div>
    <script src="js/libs.js"></script>
    <script src="js/app.js"></script>
</body>

</html>