<!doctype html>
<html lang="en" ng-app="hsp">

<head>
    <title>Home School Planner</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <base href="/hsplanner/" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="google-signin-clientid" content="<!-- @secret client_id -->" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-callback" content="onAuthResult" />
    <!-- Note on permissions
    * Full Drive access - needed to not only create new files but also modify permissions on existing files that are added to events
    -->
    <meta name="google-signin-scope" content="profile https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/drive" />
</head>

<body layout="column" flex>
    <div layout="row" class="main-content" flex>
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left" flex>
            <md-content class="md-hue-1">
            <div ng-controller="SideNavCtrl">
                <md-toolbar layout="row">
                    <div class="md-toolbar-tools">
                        <h2>Home School Planner</h2>
                    </div>
                </md-toolbar>
                <div class="user-card" ng-if="signed_in" class="header-right" layout="row">
                    <img class="profile-img" ng-src="{{profileImgSrc}}"/>
                    <div class="display-name md-subhead">{{profile.displayName}}</div>
                </div>
                <md-content class="md-hue-1">
                    <md-list>
                        <md-divider></md-divider>
                        <md-list-item>
                            <md-switch id="task-mode-switch" ng-model="schedule.taskMode" aria-label="Task Mode">Task Mode</md-switch>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <a ng-click="testDrive()">Test Drive</a>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <a ng-click="logout()">Logout</a>
                        </md-list-item>
                        <md-list-item ng-repeat="file in files">
                            <a ng-href="{{file.alternateLink}}">{{file.title}}</a>
                        </md-list-item>
                    </md-list>
                </md-content>

            </div>
            </md-content>
        </md-sidenav>
        <div class="center" layout="column" flex>
            <md-toolbar ng-controller="HeaderCtrl">
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleNav()" class="md-icon-button" aria-label="Settings" hide-gt-md>
                        <md-icon>menu</md-icon>
                    </md-button>
                    <h2 hide-gt-md hide-sm>
                        <span>Home School Planner</span>
                    </h2>
                    <span flex></span>
                    <md-button ng-click="changeDay(-1);$event.stopPropagation()" class="md-icon-button">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>

                    <span class="current-date" ng-bind="currentDay"></span>

                    <md-button ng-click="changeDay(1);$event.stopPropagation()" class="md-icon-button">
                        <md-icon>keyboard_arrow_right</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div ng-view flex layout="column"></div>
        </div>
    </div>

    <script src="libs.js"></script>
    <script src="app.js"></script>
</body>

</html>
